@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,600,700');

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$orange: #FFA12D;


* {
  margin: 0;
  padding: 0;
}

.welcome_window {
  background-image: url('hero_image.png');
  height: 600px;
  width: 100%;
  position: relative;
  .blue_opacity {
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: rgba(44, 41, 97, 0.9);
  }

  .hero_text {
    text-align: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $raleway;
    p {
      color: $orange;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 4px;
      margin-bottom: -5px;
    }
    h1 {
      color: white;
      font-weight: 200;
      font-size: 50px;
      letter-spacing: 1.5px;
    }
  }

  .navbar {
    color: white;
    border-bottom: solid 1px rgb(160,160,255);
    .nav_logo{
      margin: 7px 0px;
      .logo_text {
        font-family: 'Monoton', cursive;
        font-size: 30px;
        top: 5px;
        position: relative;
        color: #FFA12D;
        opacity: 0.9;
      }
      img {
      bottom: 5px;
      position: relative;
      margin-right: 3px;
      }
    }
    .nav_options {
      float: left;
      p {
        font-family: $raleway;
        font-weight: 300;
        position: relative;
        top: 10px;
        display: inline-block;
        font-size: 15px;
        margin-right: 10px;

        &:hover {
          color: #FFA12D;
          transition: 0.5s;
          cursor: pointer;
        }
      }
    }
  }

  .scroll_down {
    z-index: 100;
    position: absolute;
    top: 88%;
    left: 50%;
  }
}


.proms{
   margin-bottom: 60px;
   p{
     font-size: 33px;
     color: $orange;
     font-family: $raleway;
     margin-top: 50px;
     margin-bottom: -5px;
     font-weight: 300;
     letter-spacing: 0.6px;
     white-space: nowrap;
   }

  .photo_container {
    margin-top: 30px;
    position: relative;
    width: 106%;
    .image {
      display: block;
      width: 100%;
      height: auto;

    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: .5s ease;
    background-color: #161430;
    cursor: pointer;
    &:hover {
      opacity: 0;
    }
    .text{
      position: relative;
      left: 20px;
      top: -30px;
      opacity: 1!important;
      .text_street {
        color: white;
        font-size: 25px;
        bottom: 5px;
        position: relative;
      }
      .line {
        border-bottom: solid 1px $orange;
        width: 80px;
        position: relative;
        top: 5px;
      }
      .text_city {
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: -40px;
      }
    }
  }
}

/*Aktualne inwestycje*/
.investments {
  width: 100%;
  height: auto;
  background-color: #1E1D38;

/*Zbliżenie do siebie bootstrapowych kolumn w większych rozdzielczościach*/
  @media screen and (min-width: 776px) {
    .left {
      left: 12px;
    }
    .right {
      right: 12px;
    }
  }

/*Inwestycje nagłówek i liczba inwestycji w poszczególnych miastach*/
  .investments_header {
    color: $orange;
    margin-bottom: 40px;
    .header_title {
      float: left;
      margin-left: 60px;
      margin-top: 50px;
      .big_heading {
       font-weight: 700;
       font-family: $roboto;
       font-size: 50px;
      }
      .smaller_heading {
      font-family: $raleway;
      font-size: 26px;
      font-weight: 300;
      margin-left: 8px;
      letter-spacing: 0.6px;
      }
    }
/*Liczba inwestycji zależnie od miasta*/
    .header_cities {
      float: right;
      margin-top: 52px;
      margin-right: 40px;
      .city {
        color: white;
        font-size: 18px;
        font-family: $raleway;
        font-weight: 300;
        margin-left: 50px;
      }
      .city_number {
        font-size: 45px;
        font-family: $raleway;
        font-weight: bold;
      }
    }
    @media only screen and (max-width: 1170px) {
      .header_cities {
        display: none;
      }
    }
  }
/*Inwestycje kafelki*/
  .image_container {
      position: relative;
      width: 99%;
      p{
        font-size: 33px;
        color: $orange;
        font-family: $raleway;
        margin-top: 50px;
        margin-bottom: -5px;
        font-weight: 300;
        letter-spacing: 0.6px;
        white-space: nowrap;
      }
      .image {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transition: .5s ease;
      background-color: hsla(0, 0%, 0%, 0.3);
      &:hover {
        background-color: hsla(0, 0%, 0%, 0);
        .more_info {
          opacity: 1;
        }
      }
        .free_flats {
          text-align: center;
          display: inline-block;
          float: right;
          position: relative;
          left: -4%;
          font-family: $raleway;
          font-size: 15px;
          font-weight: 500;
          .free_left {
            color: white;
          }
          .number_left {
            color: $orange;
            font-size: 40px;
            font-weight: 300;
          }
        }
        .more_info {
          opacity: 0;
          position: relative;
          top: 80%;
          left: 5%;
          outline: none;
          border: solid 1px $orange;
          background-color: hsla(242, 32%, 17%, 0.9);
          color: $orange;
          padding: 6px 15px;
          border-radius: 50px;
          font-family: $raleway;
          cursor: pointer;
          transition: 0.5s ease;
          letter-spacing: 0.6px;
          &:hover {
            background-color: $orange;
            color: white;
          }
        }
      }
    }
