@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,600,700");
* {
  margin: 0;
  padding: 0; }

/*Stylizowanie okna powitalnego*/
.welcome_window {
  background-image: url("hero_image.png");
  height: 600px;
  width: 100%;
  position: relative;
  /*Nagłówek*/ }
  .welcome_window .blue_opacity {
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: rgba(44, 41, 97, 0.9); }
  .welcome_window .hero_text {
    text-align: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Raleway", sans-serif; }
    .welcome_window .hero_text p {
      color: #FFA12D;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 4px;
      margin-bottom: -5px; }
    .welcome_window .hero_text h1 {
      color: white;
      font-weight: 200;
      font-size: 50px;
      letter-spacing: 1.5px; }
  .welcome_window .navbar {
    color: white;
    border-bottom: solid 1px #a0a0ff; }
    .welcome_window .navbar .nav_logo {
      margin: 7px 0px; }
      .welcome_window .navbar .nav_logo .logo_text {
        font-family: 'Monoton', cursive;
        font-size: 30px;
        top: 5px;
        position: relative;
        color: #FFA12D;
        opacity: 0.9; }
      .welcome_window .navbar .nav_logo img {
        bottom: 5px;
        position: relative;
        margin-right: 3px; }
    .welcome_window .navbar .nav_options {
      float: left; }
      .welcome_window .navbar .nav_options p {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        position: relative;
        top: 10px;
        display: inline-block;
        font-size: 15px;
        margin-right: 10px; }
        .welcome_window .navbar .nav_options p:hover {
          color: #FFA12D;
          transition: 0.5s;
          cursor: pointer; }
  .welcome_window .scroll_down {
    z-index: 100;
    position: absolute;
    top: 88%;
    left: 50%; }

/*Sekcja z aktualnymi promocjami*/
.proms {
  margin-bottom: 60px; }
  .proms p {
    font-size: 33px;
    color: #FFA12D;
    font-family: "Raleway", sans-serif;
    margin-top: 50px;
    margin-bottom: -5px;
    font-weight: 300;
    letter-spacing: 0.6px;
    white-space: nowrap; }
  @media screen and (max-width: 700px) {
    .proms p {
      font-size: 25px; } }
  .proms .photo_container {
    margin-top: 30px;
    position: relative;
    width: 100%; }
    .proms .photo_container .image {
      display: block;
      width: 100%;
      height: auto; }
  .proms .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: .5s ease;
    background-color: #161430;
    cursor: pointer; }
    .proms .overlay:hover {
      opacity: 0; }
    .proms .overlay .text {
      position: relative;
      margin-left: 30px;
      top: -30px;
      opacity: 1 !important; }
      .proms .overlay .text .text_street {
        color: white;
        font-size: 25px;
        bottom: 5px;
        position: relative; }
      .proms .overlay .text .line {
        border-bottom: solid 1px #FFA12D;
        width: 80px;
        position: relative;
        top: 5px; }
      .proms .overlay .text .text_city {
        font-size: 18px;
        font-weight: bold;
        position: relative;
        top: -40px; }

/*Aktualne inwestycje*/
.investments {
  width: 100%;
  height: auto;
  background-color: #1E1D38;
  /*Zbliżenie do siebie bootstrapowych kolumn w większych rozdzielczościach*/
  /*Inwestycje nagłówek i liczba inwestycji w poszczególnych miastach*/
  /*Inwestycje kafelki*/ }
  @media screen and (min-width: 776px) {
    .investments .left {
      left: 12px; }
    .investments .right {
      right: 12px; } }
  .investments .investments_header {
    color: #FFA12D;
    margin-bottom: 40px;
    /*Liczba inwestycji zależnie od miasta*/ }
    .investments .investments_header .header_title {
      float: left;
      margin-left: 60px;
      margin-top: 50px; }
      .investments .investments_header .header_title .big_heading {
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        font-size: 50px; }
      .investments .investments_header .header_title .smaller_heading {
        font-family: "Raleway", sans-serif;
        font-size: 26px;
        font-weight: 300;
        margin-left: 8px;
        letter-spacing: 0.6px; }
    .investments .investments_header .header_cities {
      float: right;
      margin-top: 52px;
      margin-right: 40px; }
      .investments .investments_header .header_cities .city {
        color: white;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        margin-left: 50px; }
      .investments .investments_header .header_cities .city_number {
        font-size: 45px;
        font-family: "Raleway", sans-serif;
        font-weight: bold; }
    @media only screen and (max-width: 1170px) {
      .investments .investments_header .header_cities {
        display: none; } }
  .investments .image_container {
    position: relative;
    width: 99%; }
    .investments .image_container p {
      font-size: 33px;
      color: #FFA12D;
      font-family: "Raleway", sans-serif;
      margin-top: 50px;
      margin-bottom: -5px;
      font-weight: 300;
      letter-spacing: 0.6px;
      white-space: nowrap; }
    .investments .image_container .image {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 10px; }
  .investments .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.3); }
    .investments .overlay:hover {
      background-color: rgba(0, 0, 0, 0); }
      .investments .overlay:hover .more_info {
        opacity: 1; }
    .investments .overlay .free_flats {
      text-align: center;
      display: inline-block;
      float: right;
      position: relative;
      left: -4%;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 500; }
      .investments .overlay .free_flats .free_left {
        color: white; }
      .investments .overlay .free_flats .number_left {
        color: #FFA12D;
        font-size: 40px;
        font-weight: 300; }
    .investments .overlay .more_info {
      opacity: 0;
      position: relative;
      top: 80%;
      left: 5%;
      outline: none;
      border: solid 1px #FFA12D;
      background-color: rgba(30, 29, 57, 0.9);
      color: #FFA12D;
      padding: 6px 15px;
      border-radius: 50px;
      font-family: "Raleway", sans-serif;
      cursor: pointer;
      transition: 0.5s ease;
      letter-spacing: 0.6px; }
      .investments .overlay .more_info:hover {
        background-color: #FFA12D;
        color: white; }

/*Interaktywna mapa*/
#interactive_map {
  height: 500px;
  width: 100%; }

/*Sekcja kontaktu*/
.contact_container .contact_info {
  margin-top: 10px; }
  .contact_container .contact_info h4 {
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px; }
  .contact_container .contact_info p {
    margin-top: -15px;
    font-family: "Raleway", sans-serif; }
.contact_container .contact {
  /*prawidłowe funkcjonowanie formularza niezależnie od przeglądarki*/
  /*stylizowanie formularza zależnie od rozdzielczości na telefonach*/ }
  .contact_container .contact .write_us {
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 15px;
    left: 50px;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.8; }
  .contact_container .contact input {
    line-height: normal;
    color: #FFA12D;
    font: inherit;
    margin: 0; }
  .contact_container .contact textarea {
    overflow: auto;
    color: #FFA12D;
    font: inherit;
    margin: 0;
    border: solid 2px #FFA12D;
    border-radius: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    width: 100%;
    line-height: 150%;
    height: 50px;
    resize: none;
    width: 100%; }
    .contact_container .contact textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0; }
  .contact_container .contact #container {
    max-width: 768px;
    position: relative; }
  .contact_container .contact form {
    padding: 37.5px; }
  .contact_container .contact .email {
    float: right;
    width: 45%; }
  .contact_container .contact input[type='text'], .contact_container .contact [type='email'] {
    background: none;
    border: none;
    border: solid 2px #FFA12D;
    border-radius: 12px;
    color: #FFA12D;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 7px 10px;
    width: 100%; }
  .contact_container .contact input[type='text']:focus, .contact_container .contact [type='email']:focus {
    outline: none; }
  .contact_container .contact .message {
    float: none;
    font-style: italic; }
    .contact_container .contact .message #message_input {
      font-style: italic;
      height: 100px;
      padding-left: 5px;
      margin-top: -15px; }
  .contact_container .contact .name {
    float: left;
    width: 45%; }
  .contact_container .contact .subject {
    width: 100%; }
  .contact_container .contact .telephone {
    width: 100%; }
  .contact_container .contact ::-webkit-input-placeholder {
    color: #FFA12D; }
  .contact_container .contact :-moz-placeholder {
    color: #FFA12D;
    opacity: 1; }
  .contact_container .contact ::-moz-placeholder {
    color: #FFA12D;
    opacity: 1; }
  .contact_container .contact :-ms-input-placeholder {
    color: #FFA12D; }
  .contact_container .contact #form_button {
    background-color: #FFA12D;
    color: white;
    opacity: 0.9;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 7px 20px;
    text-transform: uppercase;
    border: solid 1px #FFA12D;
    border-radius: 15px;
    font-weight: 300; }
    .contact_container .contact #form_button:hover {
      color: #FFA12D;
      background-color: white; }
  @media screen and (max-width: 768px) {
    .contact_container .contact #container {
      margin: 20px auto;
      width: 95%; } }
  @media screen and (max-width: 480px) {
    .contact_container .contact .underline {
      width: 68px; }
    .contact_container .contact #form_button {
      padding: 15px 25px; } }
  @media screen and (max-width: 420px) {
    .contact_container .contact .underline {
      width: 53px; }
    .contact_container .contact input[type='text'], .contact_container .contact [type='email'], .contact_container .contact select, .contact_container .contact textarea {
      font-size: 0.875em; } }

/*ostatnia sekcja z adresami, inwestycjami i video*/
.last_section_background {
  background-color: #2C2961; }
  .last_section_background .last_section {
    color: white; }
    .last_section_background .last_section .info {
      margin-top: 40px; }
      .last_section_background .last_section .info h4 {
        font-family: "Roboto", sans-serif;
        margin-bottom: 15px; }
      .last_section_background .last_section .info p {
        margin-top: -15px;
        font-family: "Raleway", sans-serif;
        opacity: 0.5; }
    .last_section_background .last_section button {
      margin-top: 25px;
      margin-bottom: 25px;
      left: 30px;
      padding: 2px 60px;
      outline: none;
      border: solid 2px #FFA12D;
      border-radius: 40px;
      background-color: #2C2961;
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      transition: 0.5s; }
      .last_section_background .last_section button:hover {
        background-color: #FFA12D; }
    .last_section_background .last_section .invests {
      margin-top: 40px; }
      .last_section_background .last_section .invests h5 {
        font-family: "Roboto", sans-serif; }
      .last_section_background .last_section .invests img {
        margin: 4px;
        cursor: pointer; }
        .last_section_background .last_section .invests img:hover {
          opacity: 0.8; }
    .last_section_background .last_section iframe {
      margin-top: 30px;
      height: 300px;
      width: 100%; }

/*# sourceMappingURL=style.css.map */
